### This is a work around the Jupyter notebook

In [1]:
## this is a comment
## importing the necessary packages
import pandas as pd
import numpy as np

## Reading the data files

In [4]:
df= pd.read_csv('terrorismData.csv')

In [7]:
df.head(10)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
5,1970,1,1,United States,Illinois,North America,Cairo,37.005105,-89.176269,Armed Assault,0.0,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms
6,1970,1,2,Uruguay,Montevideo,South America,Montevideo,-34.891151,-56.187214,Assassination,0.0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms
7,1970,1,2,United States,California,North America,Oakland,37.791927,-122.225906,Bombing/Explosion,0.0,0.0,Edes Substation,1/2/1970: Unknown perpetrators detonated explo...,Unknown,Utilities,Explosives
8,1970,1,2,United States,Wisconsin,North America,Madison,43.076592,-89.412488,Facility/Infrastructure Attack,0.0,0.0,"R.O.T.C. offices at University of Wisconsin, M...","1/2/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Military,Incendiary
9,1970,1,3,United States,Wisconsin,North America,Madison,43.072950,-89.386694,Facility/Infrastructure Attack,0.0,0.0,Selective Service Headquarters in Madison Wisc...,"1/3/1970: Karl Armstrong, a member of the New ...",New Year's Gang,Government (General),Incendiary

In [62]:
df.shape

(181691, 17)

In [12]:
for i in range(len(df.columns)):
    print(df.columns[i],end="/ ")

Year/ Month/ Day/ Country/ State/ Region/ City/ Latitude/ Longitude/ AttackType/ Killed/ Wounded/ Target/ Summary/ Group/ Target_type/ Weapon_type/

#### accessing columns and rows in Dataframs
1. COLUMNS USING DF. OR DF['COLUMN NAME']
2. ROW USING INDEX 
3. pd.series.index and values
4. adding a condition
5. iloc()

In [61]:
df.iloc[:1,:2]

   Year  Month
0  1970      7

## FEW FUNCTIONS
1. DROP
2. value_counts()
3.mean,sum, groupby
3. orderby
4.group by
4. MAP()
4. .APPLY()
5.

In [39]:
df["Country"].value_counts().values

# df.drop(0)

array([24636, 14368, 12731, 11960,  8306,  6908,  6096,  5320,  5235,
        4292,  4142,  3907,  3849,  3347,  3249,  3022,  2836,  2743,
        2693,  2479,  2478,  2365,  2249,  2227,  2201,  2194,  2183,
        2050,  2016,  1970,  1709,  1648,  1565,  1275,  1215,   967,
         815,   775,   761,   735,   684,   683,   613,   566,   546,
         541,   524,   499,   402,   394,   371,   363,   332,   323,
         314,   307,   293,   283,   273,   259,   252,   225,   220,
         217,   213,   207,   203,   196,   190,   188,   159,   159,
         154,   154,   151,   140,   132,   132,   130,   127,   118,
         118,   115,   114,   114,   113,   111,   109,   101,   101,
          99,    96,    91,    90,    89,    83,    82,    80,    78,
          76,    74,    67,    66,    62,    59,    57,    56,    52,
          52,    50,    50,    49,    48,    46,    41,    39,    38,
          38,    36,    36,    36,    35,    34,    33,    32,    31,
          30,    29,    27,    27,    27,    26,    26,    25,    24,
          23,    22,    22,    22,    22,    21,    21,    20,    20,
          19,    19,    18,    18,    17,    17,    16,    16,    16,
          13,    12,    12,    12,    11,    10,    10,    10,    10,
           9,     8,     8,     8,     8,     7,     7,     7,     6,
           6,     6,     6,     6,     5,     5,     5,     5,     5,
           5,     4,     4,     4,     3,     3,     3,     3,     2,
           2,     2,     2,     2,     2,     2,     1,     1,     1,
           1,     1,     1,     1,     1,     1,     1], dtype=int64)

# q1.Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer

In [48]:
df_terrorism=df
#condition
df_terrorism=df_terrorism[df_terrorism['State']=='Jammu and Kashmir']
city_list=df_terrorism['City'].value_counts()
city=city_list.index[0]
attack=city_list.values[0]
city_list
# attack
# df_terrorism=df_terrorism[df_terrorism['City']==city]
# group=df_terrorism['Group'].value_counts().index[1]
# print(city,attack,group)

Srinagar     657
Sopore       102
Unknown       86
Anantnag      76
Jammu         57
            ...
Rainawari      1
Siala          1
Bachay         1
Manwal         1
Yamrach        1
Name: City, Length: 633, dtype: int64